ul.projects .projectlistdetails { font-size:12px; margin-top:-3px; }
ul.projects .projectlistdetails-role-name { font-weight:bold; }
ul.projects .projectlistdetails-role-user a { font-weight:normal; }